<div id="page-content-wrapper">
  <div class="container-fluid">
    <form action="/registeration">
      <!-- loop for matrials -->
      <table class="table align-middle">
        <thead>
          <tr>
     
            <th scope="col">Course Name</th>
            <th scope="col">Code</th>
            <th scope="col">Level</th>
            <th scope="col">Hours</th>
          </tr>
        </thead>
        <tbody>
          <% showMaterials.map(function (m) { %>
          <tr>
           
            <td><% var mname = m.materialName %> <%= m.materialName %></td>
            <td><%= m.code %></td>
            <td><%= m.level %></td>
            <td><%= m.hours %></td>
            <td>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="<%= mname %>"
                  id="flexCheckDefault"
                  name="checked"
                />
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <input
        class="btn btn-dark"
        type="submit"
        value="Register"
        name="register"
      />
    </form>

    <!-- /#page-content-wrapper -->
  </div>
</div>
