<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>o6u</title>
    <!-- css -->
    <%- include('../bootstrab/syles.ejs') %>
  </head>
  <body>
    <header><%- include('./layout/navbar.ejs') %></header>

    <main>
      <section><%- include('./layout/landing.ejs') %></section>

      <section class="container">
        <%- include('./layout/cards.ejs') %> <%- include('./layout/news.ejs') %>
      </section>
    </main>
    <%- include('./layout/footer.ejs') %>
    <!-- js -->
    <%- include('../bootstrab/js.ejs') %>
  </body>
</html>
